@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

.grid-container {
  background: #323230;
  font-family: "Poppins";
  min-height: 100vh;
  overflow-y: auto;
  padding: 30px 60px;
  color:  #a8a8a8;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 1fr 80px;
  gap: 50px 50px;
  align-items: center;
}

.grid-container > div {
  max-height: 600px;
  height: 100%;
}

/* These rules determine the column size for each component in the dashboard layout*/
.grid-container > div:nth-child(1) {
  grid-column: 1 / span 12;
}

/* mobile view */
@media only screen and (max-width: 812px) {
  .grid-container > div:nth-child(2) {
    grid-column: 1 / span 12;
  }
  .grid-container > div:nth-child(3) {
    grid-column: 1 / span 12;
  }
}

/* Tablet view */
@media only screen and (min-width: 640px) {
  .grid-container > div:nth-child(2) {
    grid-column: 1 / span 12;
  }
  .grid-container > div:nth-child(3) {
    grid-column: 1 / span 12;
  }
}

 /* Desktop view */
@media only screen and (min-width: 992px) {
  .grid-container > div:nth-child(2) {
    grid-column: 1 / span 5;
  }
  .grid-container > div:nth-child(3) {
    grid-column: 6 / span 7;
  }
}

.grid-container > div:nth-child(4) {
  grid-column: 1 / span 12;
}

.currentPrices {
  min-height:400px;
}
.timeseries {
  min-height:400px;
}

.card {
  padding: 15px 15px;
  border-radius: 8px;
  border-width: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  background: #1e1e1e;
}

.text-center {
  text-align: center;
}

.grid-table {
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 5px;
}

.grid-table > thead > tr {
  display:flex;
}
.grid-table > tbody > tr {
  display:flex;
}
.grid-table > thead > tr > th {
  width:100%;
}
.grid-table > tbody > tr > td {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #323230;
  color: #ffffff;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #a8a8a8;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #323230;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #323230;
}

.button{
display: inline-block;
outline: 0;
border: none;
cursor: pointer;
font-weight: 600;
border-radius: 4px;
font-size: 13px;
height: 30px;
background-color: #59595d;
color: white;
padding: 0 20px;
}
.button:hover {
    background-color: #772ce8;
}


